.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  font-size: 125%;
}
.wrapper {
  width: 100%;
}

h1 {
  color: red;
  text-shadow: 5px 5px white;
  font-size: 4rem;
  margin-top: -25%;
  /* text-transform: uppercase; */
  border: 2px solid red;
  font-family: "Dancing Script", cursive;
}
img {
  border: 2px solid red;
}
span {
  color: red;
}
.linkColor {
  color: white;
}
h2,
h3 {
  color: white;
  text-shadow: 3px 3px cornflowerblue;
  font-family: "Shadows Into Light", cursive;
  margin-top: -30px;
  border: 2px solid red;
}
header {
  background-image: url("../src/assets/background-img.png");
  background-color: black;
  background-size: cover;
  height: 40vw;
  position: relative;
}
.dropdown {
  border: 2px solid black;
  background: white;
  position: absolute;
  top: 50%;
  left: 5%;
  padding: 120px 10px;
}
.dropdown h3 {
  color: black;
  font-size: 1.5rem;
  margin-top: -30%;
}
label {
  font-size: 25px;
  margin-top: 10%;
  color: rgb(51, 6, 124);
  padding-right: 15px;
}
h4 {
  font-size: 2rem;
  color: white;
  text-shadow: 3px 3px cornflowerblue;
  padding-top: 30px;
}
.inputField {
  background-color: lightslategrey;
  margin-top: -4%;
}
select {
  font-size: 20px;
  padding: 15px 50px;
  background-color: yellowgreen;
  border: 2px solid black;
}
input {
  padding: 30px 50px;
  font-size: 20px;
  margin: 5% 0%;
  border-radius: 25px;
  border: 4px solid yellowgreen;
}
input:hover {
  border: 4px solid yellow;
}
main {
  background-color: lightgreen;
}
div p {
  text-transform: uppercase;
  font-size: 30px;
  color: black;
  text-shadow: 3px 3px cornflowerblue;
}
ul {
  width: 40%;
  padding: 50px 20px;
  text-align: center;
  background-color: rgb(89, 252, 235);
  margin: 0 auto;
  border: 2px solid black;
}
li {
  font-size: 20px;
  color: black;
  padding-top: 20px;
  text-align: center;
  list-style-type: square;
  /* border: 2px solid red; */
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}

/* MEDIA QUERIES */
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}
/* font-family: 'Dancing Script', cursive;

 font-family: 'EB Garamond', serif;

 font-family: 'Righteous', cursive; */
